<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>WebAPIs Example</title>

    <!-- build:template
    <script src="../../<%= rockyjs_path %>"></script>
    /build -->
    <!-- build:remove -->
    <!-- this template/remove construct is a workaround as processhtml doesn't support variables for values -->
    <script src="../../src/html-binding.js"></script>
    <script src="../../src/symbols-manual.js"></script>
    <script src="../../src/symbols-generated.js"></script>
    <script src="../../src/transpiled.js"></script>
    <!-- /build -->
    

    <!-- build:css ../../css/bootstrap.min.css -->
    <link href="../../html/css/bootstrap.min.css" rel="stylesheet">
    <!-- /build -->
    <!-- build:css ../../css/style.css -->
    <link href="../../html/css/style.css" rel="stylesheet">
    <!-- /build -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="js/rocky-EventEmitter.js"></script>
    <script src="js/rocky-WebAPIBinding.js"></script>
    <script src="js/rocky-animate.js"></script>
    <script src="js/rocky-CanvasRenderingContext2D.js"></script>
    <script src="js/rocky-colorstyle.js"></script>
    <script src="js/rocky-Path2D.js"></script>
    <script src="js/rocky-WatchfaceHelper.js"></script>
    <script src="js/rocky-TickService.js"></script>
    <script src="js/rocky-TweenJS.js"></script>
    <link rel="stylesheet" href="../common/css/style.css">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Web APIs</h1>
        <p class="lead">
            Web APIs.
        </p>
    </div>

    <div class="col-md-6">
        <canvas id="pebble" class="rocky" width="432" height="504"></canvas>    
    </div>
    <div class="col-md-6">
        <h2>What's going on?</h2>
        <p>
        This example is the first step towards a more WebAPI-friendly set of APIs on Pebble's JS engine.
        </p>
    </div>
    <!-- build:template
    <%= github_banner %>
    /build -->
</div>
</body>
<script>
    (function(){
        // make this a global so it's accessible from js/tictoc.js
        window.rocky = new Rocky.WebAPIBinding(document.getElementById("pebble"));
    })();
</script>

<!-- JavaScript Implementation of TicToc --> 
<script src="js/tictoc.js"></script>

</html>
