<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Compass</title>

    <!-- build:template
    <script src="../../<%= rockyjs_legacy_path %>"></script>
    /build -->
    <!-- build:remove -->
    <!-- this template/remove construct is a workaround as processhtml doesn't support variables for values -->
    <script src="../../src/html-binding.js"></script>
    <script src="../../src/symbols-manual.js"></script>
    <script src="../../src/symbols-generated.js"></script>
    <script src="../../src/transpiled.js"></script>
    <!-- /build -->

    <!-- build:css ../../css/bootstrap.min.css -->
    <link href="../../html/css/bootstrap.min.css" rel="stylesheet">
    <!-- /build -->
    <!-- build:css ../../css/style.css -->
    <link href="../../html/css/style.css" rel="stylesheet">
    <!-- /build -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="../common/css/style.css">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Compass</h1>
        <!-- build:template
        <%= deprecated_banner %>
        /build -->
        <p class="lead">
            This example demonstrates how one can use <a href="https://developer.mozilla.org/en-US/docs/Web/API/DeviceMotionEvent">DeviceMotionEvent</a>
            to mimic Pebble's compass application.<br>
            Works best on a mobile device!
        </p>
    </div>

    <div class="col-md-6">
        <canvas id="pebble" class="rocky" width="432" height="504"></canvas>
    </div>

    <div class="col-md-6">
        <h2>What's going on?</h2>
        <p>
            This example is a simpler version of <a href="https://github.com/pebble-hacks/pebble-compass">Pebble's compass application</a>.
            The code subscribes to <a href="https://developer.mozilla.org/en-US/docs/Web/API/DeviceMotionEvent">device motion events</a>
            where available and uses some animated fake heading where it doesn't exist (e.g. on your desktop).
        </p>
        <p>
            Although the actual draw code, e.g. <code>draw_ticks()</code> is an interesting example of Rocky's drawing
            routines, the focus of this example is to show how one can leverage today's web APIs
            (here: <code>window.addEventListener('deviceorientation', yourFunction)</code>) to mix them with Rocky.js.
        </p>
    </div>
    <!-- build:template
    <%= github_banner %>
    /build -->
</div>
</body>

<script>
    (function () {
        var rocky = Rocky.bindCanvas(document.getElementById("pebble"));
        // puts all C-symbols from rocky onto window.* so they can be used almost
        // the same way you were using them in C
        rocky.export_global_c_symbols();

        // draws tick marks + compass points (N,E,S,W) inside of a given rectangle bounds
        // pass argument heading (in rad) to indicate
        //   by how much the the this compass rose should be rotated
        function draw_ticks(ctx, bounds, heading) {
            var innerBounds = grect_inset(bounds, 10);
            var midBounds = grect_inset(bounds, 5);
            var outerBounds = grect_inset(bounds, 3);
            var numTicks = 16;

            for (var i = 0; i < numTicks; i++) {
                var angle = heading + (i / numTicks * Math.PI * 2);
                var inner = gpoint_from_polar(innerBounds, GOvalScaleModeFitCircle, angle);
                var mid = gpoint_from_polar(midBounds, GOvalScaleModeFitCircle, angle);
                var outer = gpoint_from_polar(outerBounds, GOvalScaleModeFitCircle, angle);

                // draw tick for north thocker and in red
                var isNorth = (i == 0);
                graphics_context_set_stroke_width(ctx, isNorth ? 4 : 1);
                graphics_context_set_stroke_color(ctx, isNorth ? GColorRed : GColorWhite);

                graphics_draw_line(ctx, (i % 2 == 0) ? inner : mid, outer);
            }

            // draws the textual indications for compass points
            var textBounds = grect_inset(bounds, 25);
            ["N", "E", "S", "W"].map(function(direction, idx, arr) {
                var angle = heading + (idx / arr.length * Math.PI * 2);
                var rect = grect_centered_from_polar(textBounds, GOvalScaleModeFitCircle, angle, [30, 40]);
                graphics_draw_text(ctx, direction, font, rect, 0, GTextAlignmentCenter);
            });

        }

        var font = fonts_get_system_font(FONT_KEY_GOTHIC_24_BOLD);
        var heading = 0;
        rocky.update_proc = function (ctx, bounds) {
            // make sure background is black and we draw in white
            graphics_context_set_fill_color(ctx, GColorBlack);
            graphics_fill_rect(ctx, bounds);
            graphics_context_set_text_color(ctx, GColorWhite);

            draw_ticks(ctx, bounds, heading);

            // draw the heading at the bottom left corner
            var deg = (heading * 180 / Math.PI) % 360;
            var rect = GRect(10, 0, 150, 28);
            grect_align(rect, bounds, GAlignBottomLeft, false);
            graphics_draw_text(ctx, ''+Math.round(deg) + '°', font, rect, 0, 0);

            if (fakeUpdate) {
                grect_align(rect, bounds, GAlignBottomRight, false);
                var messages = ['faked values', 'open on', 'your phone'];
                var text = messages[new Date().getSeconds() % messages.length];
                graphics_draw_text(ctx, text, font, rect, 0, GTextAlignmentRight);
            }

        };

        // this updates the heading if we don't receive deviceorientation events
        var fakeUpdate = setInterval(function() {
            heading = new Date().getTime() / 2000;
            rocky.mark_dirty();
        });

        window.addEventListener('deviceorientation', function(e) {
            var direction;
            if (typeof e.webkitCompassHeading !== 'undefined') {
                direction = e.webkitCompassHeading;
                if (typeof window.orientation !== 'undefined') {
                    direction += window.orientation;
                }
            } else {
                // http://dev.w3.org/geo/api/spec-source-orientation.html#deviceorientation
                direction = 360 - e.alpha;
            }

            // heading is the "opposite" of direction
            heading = (360 - direction) % 360;
            // convert to rad
            heading = heading * 2 * Math.PI / 360;

            // if we ever receive a "real" event, cancel the timer for our fake heading
            if (heading != 0) {
                clearInterval(fakeUpdate);
                fakeUpdate = undefined;
            }
            rocky.mark_dirty();
        });
    })();
</script>
</html>
